<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cuit.smsb.Mapper.FrontReadMapper">
    <resultMap id="staInfoMap" type="com.cuit.smsb.Model.StaInfo">
        <id column="staNo" property="staNo"/>
        <result column="sta_name" property="sta_name"/>
        <result column="sta_addr" property="sta_addr"/>
        <result column="sta_phone" property="sta_phone"/>
        <result column="sta_notice" property="sta_notice"/>
        <result column="sta_createTime" property="sta_createTime"/>
        <result column="sta_startDayTime" property="sta_startDayTime"/>
        <result column="sta_endDayTime" property="sta_endDayTime"/>
        <collection property="selectedTags" ofType="string">
            <constructor><arg column="tagName"/></constructor>
        </collection>
    </resultMap>

    <select id="getAllSpaBySta" resultType="java.util.HashMap">
        select * from staspace left join schadule on staspace.schaNo = schadule.schaNo
        where staspace.staNo = #{staNo}
    </select>

    <select id="getOrders" parameterType="string" resultType="java.util.HashMap">
        select orders.*,sta.sta_name from orders
        inner join sta on orders.staNo = sta.staNo
          where username = #{username}
    </select>

    <select id="getAllOrders" resultType="java.util.HashMap">
        select orders.*,sta.sta_name from orders
        inner join sta on orders.staNo = sta.staNo
    </select>

    <select id="getStaInfo" parameterType="string" resultMap="staInfoMap">
         select *
         from sta left join sta_tag on  sta.staNo = sta_tag.staNo
         where sta.staNo = #{staNo}
    </select>


</mapper>